<% if params[:search].present? %>
	Kerkuar: <%= params[:search] %><br><br>
<% end %>

<% if params[:cat].present? %>
	Kategoria: <%= params[:cat] %><br><br>
<% end %>

<% if @items.any? %>
	<% @items.each do |item| %>
	<div class="col-md-4 col-sm-5">
		<div class="panel panel-default text-center" style="height: 300px;">
			<div class="panel-heading">
				<%= image_tag item.avatar.url, style: "width:180px;height:130px;" %>
			</div>
			<div class="panel-body">
				<h4><%= link_to item.title, ks_platform_path(item) %></h4>
				<p><%= item.description %></p>
				<!-- <a href="#" class="btn btn-primary">Shiko</a> -->
			</div>
		</div>
	</div>
	<% end %>
	<div class="container" style="text-align: center">
		<%= paginate @items %>
	</div>
<% else %>
	"Nuk gjinder asnje produkt"
<% end %>



