<!-- Header Stat Banner -->
<header id="banner" class="stat_bann">
  <div class="bannr_sec">
    <%= image_tag 'books.jpg' %>
    <h1 class="main_titl">
      Nxeje Karriken
    </h1>
    <h4 class="sub_titl">
     Publiko libra te ndryshem
    </h4>
  </div>
</header>
<section id="srch_slide">
  <div class="container" >
    <!-- Search & Slider -->
    <div class="row">
      <!-- Search Form -->
      <div class="col-md-4">
        <div class="srch_frm"  style="width: 800px;margin-left: 160px;">
          <%= form_tag(ks_platform_search_path, :method => "get") do %>
          <div class="control-group form-group col-md-6">
            <div class="controls">
              <%= text_field_tag :search, params[:search], class: "form-control", :placeholder => "KËRKO ..", required: true  %>
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group col-md-4">
            <div class="controls">
              <%= select_tag :location, options_for_select(@cities), class: "form-control", required: true %>
            </div>
          </div>
          <div id="success" class="col-md-2"></div>
          <!-- For success/fail messages -->
          <%= button_tag class: "btn btn-primary", style: "margin-top: -1px;" do %>
          <i class="glyphicon glyphicon-search"></i> KËRKO
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<div class="spacer-60"></div>
<%= render "products" %>