<header class="bread_crumb">
    <div class="pg_links">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="lnk_pag"><a href="index.html"> Home </a> </p>
                    <p class="lnk_pag"> / </p>
                    <p class="lnk_pag"> search </p>
                </div>
                <div class="col-md-6 text-right">
                    <p class="lnk_pag"><a href="index.html"> Go Back to Home </a> </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="spacer-60"></div>
<div class="container">
    <div class="row">
        <!-- Agent Section -->
        <section id="agent_sec" class="col-md-8">
            <!-- Property Listing -->
            <div class="row prlist_sec">
                <div class="titl_sec">
                    <div class="col-lg-12">
                        <h3 class="main_titl text-left">
                        <% if params[:search].present? %>
                            Kerkuar: <%= params[:search] %>
                        <% elsif params[:cat].present? %>
                            Kategoria: <%= params[:cat] %>
                        <% elsif params[:city].present? %>
                            Vendi: <%= params[:city] %>
                        <% else %>
                            Search/Category
                        <% end %>
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>


                <!-- Property List 1 -->
                <% if @items.any? %>
                    <% @items.each do |item| %>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-image">
                                    <%= image_tag item.avatar.url, class: "img-responsive img-hover", style: "height: 250px;"%>
                                    <div class="img_hov_eff">
                                        <%= link_to "More details", ks_platform_path(item), class: "btn btn-default btn_trans" %>
                                    </div>
                                </div>
                                <div class="sal_labl">
                                    For Sale
                                </div>
                                <div class="panel-body">
                                    <div class="prop_feat">
                                        <p class="area"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= item.location %></p>
                                        <p class="bedrom"><i class="fa fa-home"></i><%= item.address %></p>
                                        <p class="bedrom"><i class="fa fa-phone" aria-hidden="true"></i><%= item.phone %></p>
                                    </div>
                                    <h3 class="sec_titl"><%= item.title %></h3>
                                    <p class="sec_desc" style="height: 50px;"><%= truncate(item.description,length: 90) %></p>
                                    <div class="panel_bottom">
                                        <div class="col-md-6">
                                            <p class="price text-left"><%= item.price %>€</p>
                                        </div>
                                        <div class="col-md-6">
                                            <p class="readmore text-right"><%= item.name %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="spacer-20"></div>
                        </div>
                    <% end %>
                <% else %>
                    <p class="text-center"> Nuk gjindet asnje produkt </p>
                <% end %>
            </div>
            <%= paginate @items %>
            <!-- /.row -->
        </section>
        <!-- Sidebar Section -->
        <section id="sidebar" class="col-md-4">
            <!-- Search Form -->
            <div class="row">
                <div class="col-md-12">
                    <div class="srch_frm">
                        <h3>Kerko</h3>
                         <%= form_tag(ks_platform_search_path, :method => "get") do %>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <%= text_field_tag :search, params[:search], class: "form-control", :placeholder => "Kerko libra ..", required: true  %>
                                    <p class="help-block"></p>
                                </div>
                            </div>
                            <div class="control-group form-group">
                                <div class="controls">
                                    <%= select_tag :location, options_for_select(@cities), class: "form-control", :include_blank => "Zgjedh lokacionin", required: true %>
                                </div>
                            </div>
                            <div id="success4"></div>
                            <!-- For success/fail messages -->
                            <button type="submit" class="btn btn-primary">Search</button>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="spacer-30"></div>
            <!-- Categories -->
            <div class="row">
                <div class="titl_sec">
                    <div class="col-lg-12">
                        <h3 class="main_titl text-left">
                        Categories
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="categ_info">
                    <div class="info_sec first">
                        <% @categories.each do |category| %>
                            <div class="col-md-8">
                                <%= link_to ks_platform_search_path(cat: category.name) do %>
                                <i class="fa fa-long-arrow-right"></i>
                                <p class="infos"> <%= category.name %> <span> (<%= category.items.where(country_id: 1).length %>) </span> </p>
                            <% end %>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="spacer-30"></div>
            <!-- Featured Properties -->
            <div class="row">
                <div class="titl_sec">
                    <div class="col-lg-12">
                        <h3 class="main_titl text-left">
                        Featured Properties
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <% @last_items.each do |la_item| %>
                <div class="side_feat">
                    <div class="panel panel-default">
                        <div class="panel-image col-md-3">
                            <%= image_tag la_item.avatar.url, class: "img-responsive img-hover"%>
                        </div>
                        <div class="panel-body col-md-9">
                            <h3 class="sec_titl">
                            <%= link_to la_item.title, ks_platform_path(la_item) %>
                            </h3>
                            <div class="prop_feat">
                                <p class="area"><i class="fa fa-home"></i><%= la_item.location %></p>
                                <p class="bedrom"><i class="fa fa-phone" aria-hidden="true"></i><%= la_item.phone %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <!-- /.row -->
            <div class="spacer-30"></div>
            <!-- Tags -->
            <div class="row">
                <div class="titl_sec">
                    <div class="col-lg-12">
                        <h3 class="main_titl text-left">
                        Qytetet
                        </h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tags_sec">
                    <% @cities.each do |c| %>
                        <div class="tags_box">
                            <%= link_to c, ks_platform_search_path(city: c) %> 
                        </div>
                    <% end %>
                </div>
            </div>
            <!-- /.row -->
            <div class="spacer-30"></div>
        </section>
        <div class="spacer-60"></div>
    </div>
</div>