<div class="spacer-30"></div>
<div class="container">
  <div class="row">
    <div class="titl_sec">
      <div class="col-xs-6">
        <h3 class="main_titl text-left" style="margin-right: 20px;">        
          Profili i librit       
        </h3>
      </div>
      <div class="col-xs-6">
        </h3>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- Proerty Details Section -->
    <section id="prop_detal" class="col-md-8">
      <div class="row">
        <div class="panel panel-default" style="">
          <!-- Proerty Slider Images -->
          <div class="panel-image">
            <ul id="prop_slid">
              <% unless @item.images.first.nil? %>
              <% @item.images.each do |image| %>
              <li>
                <%= image_tag image.avatar.url(:medium), class: "img-responsive", alt: "Property Slide Image" %>
              </li>
              <% end %>
              <% end %>
            </ul>
            <!-- Proerty Slider Thumbnails -->
            <br>
            <div class="col-md-12 rel_img">
              <ul id="slid_nav">
                <% n = 0 %>
                <% unless @item.images.first.nil? %>
                <% @item.images.each do |image| %>
                <li>
                  <a data-slide-index="<%= n %>" href="">
                    <%= image_tag image.avatar.url(:thumb), class: "img-responsive"  %>
                    <% n = n + 1 %>
                  </a>
                </li>
                <% end %>
                <% end %>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
          <br>
          <div class="panel-body">
            <div class="prop_feat">
              <p class="area"><i class="fa fa-globe" aria-hidden="true"></i><%= @item.country.name %></p>
              <p class="area"><i class="fa fa-home"></i><%= @item.location %></p>
              <p class="area"><i class="fa fa-map-marker" aria-hidden="true"></i><%= @item.address %></p>
              <p class="bedrom"><i class="fa fa-bed"></i><%= @item.category.name %></p>
            </div>
            <h3 class="sec_titl">
              <%= @item.title %>             
            </h3>
            
            <p class="sec_desc">
              <%= @item.description %>
            </p>     

            <div class="col_labls larg_labl">
              <p class="or_labl">Telefoni: <%= @item.phone %></p>
              <% if @item.status == "sale" %>
                <p class="blu_labl"><%= number_with_precision(@item.price, :precision => 2) %> €</p>
              <% elsif @item.status == "give" %>
                <p class="blu_labl">FALAS</p>
              <% end %>

            </div>       
            <!-- Proerty Additional Info -->

          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="spacer-30"></div>
      
    </section>
    <!-- Sidebar Section -->
    <section id="sidebar" class="col-md-4">
      <!-- Search Form -->
      <div class="row">
        <div class="col-md-12">
          <div class="srch_frm">
            <h3>KËRKO</h3>
            <%= form_tag(ks_platform_search_path, :method => "get") do %>
            <div class="control-group form-group">
              <div class="controls">
                <%= text_field_tag :search, params[:search], class: "form-control", :placeholder => "Kerko libra ..", required: true  %>
                <p class="help-block"></p>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="controls">
                <%= select_tag :location, options_for_select(@cities), class: "form-control", :include_blank => "Zgjedh lokacionin", required: true %>
              </div>
            </div>
            <div id="success4"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary">KËRKO</button>
            <% end %>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <div class="spacer-30"></div>
      <!-- Categories -->
      <%= render "category_list" %>
    </section>
    <div class="spacer-60"></div>
  </div>
</div>
<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => false %>