<br><br>
<div class="col-md-4"></div>
<div class="col-md-4" style="border: 2px solid #b0a084;padding: 25px;">
	<% if flash[:danger].present? %>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-6 text-mutted m-b">
      <% flash[:danger].each do |colmun, message| %>
        <p style="color: red"><%= colmun %>: <%= message[0] %></p>
      <% end %>
    </div>
  </div><br>
  <% end %>
  <% if flash[:success].present? %>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-6 text-mutted m-b">
      <%= flash[:success] %>
    </div>
  </div><br>
  <% end %>
 <%= form_for @items, url: { controller: "items", action: "create" } do |f| %>
	<div class="form-group row">
	  <div class="col-xs-12">
	    <%= f.text_field :firstname, placeholder: "Emri", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	    <%= f.text_field :lastname, placeholder: "Mbiemri", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
			<%= f.text_field :email, placeholder: "Email", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	  	<%= f.text_field :address, placeholder: "Adresa", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	  	<%= f.text_field :phone, placeholder: "Telefoni", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	    <%= f.collection_select(:categories, Category.all, :id, :name, { include_blank: 'Zgjitdh kategorine' }, class: 'form-control') %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	  	<%= f.text_field :title, placeholder: "Titulli i shpalljes", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	  	<%= f.text_field :description, placeholder: "Permbajtja", class: 'form-control' %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	  	<%= f.text_field :price, class: 'form-control', placeholder: "Cmimi" %>
	  </div>
	</div>
	<div class="form-group row">
	  <div class="col-xs-12">
	  	<%= f.file_field :avatar, class: 'form-control' %>
	  </div>
	</div>
  <br>
	<div class="form-group row">
	  <div class="col-xs-3"></div>
	  <div class="col-xs-6">
	    <%= f.submit :Regjistro, class: "form-control", label: false %>
	  </div>
	</div>
<% end %>
</div>
<div class="col-md-3" style="margin: 30px;"></div>
