<!DOCTYPE html>
<html>
<head>
  <title>Suggest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'bootstrap.min', media: 'all', 'data-turbolinks-track' => false %>
  <%= stylesheet_link_tag    'modern-business', media: 'all', 'data-turbolinks-track' => false %>

</head>
<body>

<%= yield %>

<%= javascript_include_tag 'jquery', 'data-turbolinks-track' => false %>
<%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => false %>


<script>
  $('.carousel').carousel({
  	interval: 5000 //changes the speed
	})
</script>


</body>
</html>
